# Supabase — même projet que RETROUVO ou nouveau projet dédié
NEXT_PUBLIC_SUPABASE_URL=https://lxufxwgxgjgnholbiwzo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VIjJ3t9s2XUmzQvn7dmPPQ_tWgkIeJ1

# Mot de passe Super Admin — GARDE-LE SECRET
NEXT_PUBLIC_SUPER_ADMIN_PASSWORD=Max6-powerai.super
